@font-face {
  font-family: "Editorial New";
  src: url("/fonts/EditorialNew-Regular.woff") format("woff"),
    url("/fonts/EditorialNew-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Editorial New";
  src: url("/fonts/EditorialNew-Bold.woff") format("woff"),
    url("/fonts/EditorialNew-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/NeueMontreal-Regular.woff") format("woff"),
    url("/fonts/NeueMontreal-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/NeueMontreal-Bold.woff") format("woff"),
    url("/fonts/NeueMontreal-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

h1,
h2 {
  font-family: "Editorial New";
  font-weight: 700;
}

h1 {
  font-size: 64px !important;

  @media screen and (max-width: 768px) {
    font-size: 48px;
  }
}

h3 {
  font-family: "Neue Montreal";
  font-weight: 700;
}

p {
  font-family: "Neue Montreal";
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none !important;
  font-family: "Neue Montreal";
  font-weight: 400;
}

.userSelectNone {
  user-select: none;
}

.bordertest {
  border: 2px solid black;
}

/* container of the code block */
.remark-highlight {
  border: 1px solid #dddddd;
  border-radius: 0.3em;
  margin: 0.5em 0;
  overflow: auto;
}

.remark-highlight pre[class*="language-"] {
  background-color: transparent;
  margin: 0;
  padding: 0;
  overflow: initial;
  float: left; /* 1 */
  min-width: 100%; /* 2 */
}

/* highlight for each spotlight line */
.remark-highlight-code-line {
  background-color: #feb;
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.25em solid #f99;
}

/* Gutter for line numbers when the line-numbers plugin is active */
.remark-highlight pre[class*="language-"].line-numbers {
  padding-left: 2.8em;
}

.fixed {
  position: fixed;
  top: 30;
  right: 30;
  z-index: 3;
}

.h-min-fit-content {
  min-height: fit-content;
}

/* NAVIGATION */

.fixed-top {
  position: absolute;
  top: 0;
  background-color: #fff;
}

.nav-header,
.footer-div {
  padding: 40px 60px;
}

.nav-link {
  color: #000 !important;
  margin-left: 16px;
  font-size: 14px;
  cursor: pointer;
  padding: 0 !important;
}

.nav-logo {
  font-size: 18px;
  cursor: pointer;
  color: #000;
}

.nav-logo:hover,
.nav-link:hover {
  color: #000;
}

/* HOMEPAGE */
.layout-toggle-btn {
  border: none;
  outline: none;
  color: #000;
  font-family: "Neue Montreal";
  font-weight: 400;
  font-size: 14px;
  background-color: transparent;
  margin-top: 16px;
}

.margin-top-80 {
  margin-top: 100px !important;
  padding: 0 60px;

  @media screen and (max-width: 768px) {
    margin-top: 60px;
  }
}

/* ABOUT COMPONENT */
.about-div {
  margin-top: 120px;
  padding: 60px;
}

/* FOOTER DIV */
.footer-div {
  position: fixed;
  bottom: 0;
}

/* SPACING */
.margin-top-16 {
  margin-top: 16px !important;
}

.article-body {
  margin-top: 90px;
  padding: 60px;
  overflow-x: hidden;
}

/* TABLE OF CONTENTS */
.toc-bullets {
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 4px;
  list-style-type: none;
  text-align: right;
}

.table-of-contents {
  position: fixed;
  right: 60px;
  top: 120px;
  /* transform: translateY(-50%); */
  z-index: 2;
}

.toc-title {
  font-size: 14px;
  text-transform: uppercase;
}
