/* TYPOGRAPHY */
@font-face {
  font-family: "Editorial New";
  src: url("/fonts/EditorialNew-Regular.woff") format("woff"),
    url("/fonts/EditorialNew-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Editorial New";
  src: url("/fonts/EditorialNew-Bold.woff") format("woff"),
    url("/fonts/EditorialNew-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/NeueMontreal-Regular.woff") format("woff"),
    url("/fonts/NeueMontreal-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/NeueMontreal-Bold.woff") format("woff"),
    url("/fonts/NeueMontreal-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

h1,
h2 {
  font-family: "Editorial New";
  font-weight: 700;
}

h1 {
  font-size: 64px !important;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 48px !important;
  }
}

h2 {
  font-size: 48px !important;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 36px !important;
  }
}

h3,
h4,
.lesson-header {
  font-family: "Neue Montreal";
  font-weight: 700;
}

p,
.article-body p,
.article-body li,
li,
.marquee-title {
  font-family: "Neue Montreal" !important;
  font-weight: 400;
  font-size: 16px;
}

.uppercase {
  text-transform: uppercase;
}

.lesson-header {
  font-size: 24px !important;
  margin: 30px 0 16px 0;
}

li {
  margin-bottom: 6px;
}

a {
  text-decoration: none !important;
  font-family: "Neue Montreal";
  font-weight: 400;
}

/* NAVIGATION */
.fixed-top {
  position: absolute;
  top: 0;
  background-color: #fff;
}

.nav-header,
.footer-div {
  padding: 40px 60px 16px 60px;
}

@media screen and (max-width: 768px) {
  .nav-header,
  .footer-div {
    padding: 16px 24px;
  }
}

.nav-link,
.btn-link {
  color: #000 !important;
  margin-left: 16px;
  font-size: 14px;
  cursor: pointer;
  padding: 0 !important;
}

.btn-link:hover,
.layout-toggle-btn:hover {
  background-color: #faff00;
}

.nav-logo {
  font-size: 18px;
  cursor: pointer;
  color: #000;
  margin: 0;
  padding: 0;
}

.nav-logo:hover,
.nav-link:hover {
  color: #000;
}

/* MAIN LAYOUT */
.homepage-div {
  padding-left: 60px;
  padding-right: 60px;
}

@media screen and (max-width: 768px) {
  .homepage-div {
    padding-left: 24px;
    padding-right: 24px;
  }
}

/* HOMEPAGE */
.userSelectNone {
  user-select: none;
}

.bordertest {
  border: 2px solid #000;
}

.bg-white {
  background-color: #fff;
}

.layout-toggle-btn {
  border: none;
  outline: none;
  color: #000;
  font-family: "Neue Montreal";
  font-weight: 400;
  font-size: 14px;
  background-color: transparent;
  margin-top: 16px;
}

.drag-cursor {
  margin: 0;
  position: relative;
  cursor: url("../public/images/site/drag-cursor-1.svg"), auto;
}

.enter-cursor {
  margin: 0;
  position: relative;
  /* cursor: pointer; */
  cursor: url("../public/images/site/enter.svg"), auto;
}

.title-marquee-div {
  height: 75px;
}

.title-marquee-div:hover {
  color: red;
}

.object-fit-fill {
  object-fit: fill;
}

/* FOOTER DIV */
.footer-div {
  position: fixed;
  bottom: 0;
}

/* SPACING */
.margin-top-16 {
  margin-top: 16px !important;
}

.margin-top-36 {
  margin-top: 36px !important;
}

.margin-top-60 {
  margin-top: 60px !important;
}

.margin-bottom-36 {
  margin-bottom: 36px !important;
}

.padding-right-24 {
  padding-right: 24px !important;
}

.padding-left-24 {
  padding-left: 24px !important;
}

@media screen and (max-width: 768px) {
  .padding-right-24,
  .padding-left-24 {
    padding-right: 0px !important;
  }
}

.padding-bottom-24 {
  padding-bottom: 24px !important;
}

@media screen and (max-width: 768px) {
  .margin-top-100 {
    margin-top: 40px;
  }
}

/* ARTICLE BODY  */

.article-body {
  margin-top: 60px;
  padding: 60px;
  overflow-x: hidden;
}

@media screen and (max-width: 768px) {
  .article-body {
    margin-top: 60px;
    padding: 24px !important;
  }
}

.article-body a {
  color: #000;
  font-weight: 700;
}

/* TABLE OF CONTENTS */
.toc-bullets {
  text-transform: uppercase;
  font-size: 12px !important;
  margin-bottom: 4px;
  list-style-type: none;
  text-align: right;
}

.toc-bullets a {
  color: #757575 !important;
  font-weight: 400 !important;
}

.highlighted-toc {
  color: #0d6efd;
}

.table-of-contents {
  position: fixed;
  right: 60px;
  top: 120px;
  /* transform: translateY(-50%); */
  z-index: 2;
}

.toc-title {
  font-size: 12px !important;
  text-transform: uppercase;
  color: #000;
}

.override-toc {
  z-index: 3 !important;
}

/* POSTS WRITTEN IN MARKDOWN */
.visit-website {
  border: 1px solid #000;
  font-family: "Neue Montreal";
  font-size: 14px;
  text-transform: uppercase;
  padding: 4px 12px;
  background-color: #fff;
  font-weight: 400 !important;
  transition: background-color 0.5s ease;
}

.visit-website:hover {
  background-color: #f0f0f0;
  color: #000 !important;
}

.rounded-edges {
  border-radius: 12px;
  border: 1px solid #ccc;
}

figcaption {
  font-family: "Neue Montreal";
  font-weight: 400;
  font-size: 12px;
  color: #757575;
}

.max-height-50 {
  height: 50vw;
}
