$grid-gutter-width: 0rem;
$gutters: (
  0: 0,
  1: 0,
  2: 0,
  3: 0,
  4: 0,
  5: 0,
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";
